.main{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn-container {
  display: flex;
  justify-content: right;
  flex-direction: row;
}

.btn-logout {
  background-color: #85bb21;
  color: white;
  padding: 8px;
  width: 20%;
  min-width: 120px;
  font-size: 17px;
}
